<h1>Cocktail List</h1>

<div class="cocktails-index">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card">
      <p> <%= link_to cocktail_path(cocktail) do %>
        <%= cocktail.name %>
      <% end %> <p>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Add a cocktail", new_cocktail_path, class:"btn btn-primary" %>
</div>
