.cocktails-index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cocktail-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  margin: 30px 10px;
    p {
  text-decoration: none;
  color: #0bd3d3;
  margin-left: 20px;
  margin-top: 19px;
  font-size: 18px;
  margin-bottom: 9px;
  }
  p:hover {
    color: white;
  }
}
a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'Fascinate', cursive;
  color: #f890e7;
  font-size: 50px;
  display: inline-block;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
