.cocktails-index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cocktail-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  border: 1px solid white;
  margin: 30px 10px;
    p {
  text-decoration: none;
  color: #0bd3d3;
  }
  p:hover {
    color: white;
  }
}
a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'Fascinate', cursive;
  color: #f890e7;
  font-size: 50px;
}

.head {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
